
.card-body{
	display: flex;
    align-items: center;
}

.container .cuadro{
	width: 350px;
	margin-left: 25px;
    margin-right: 25px;
}

.container .subtitle{
	text-align: center;
}

.container .title{
	text-align: center;
}

.container .parrafo{
	text-align: center;
	width: 450px;
}